<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add user </title>
        <link rel="stylesheet" href="/css/group.css">
    </head>

    <body>
        <h1>Add User To A Group</h1>

        <h3>

            Group: <%= groupId %>
        </h3>

        <form action=<%=`/groups/addUserToGroup/${groupId}`%> method='POST'>
            <input type="text" placeholder="Enter User ID" name='userToAdd'>
            <input type="submit">
        </form>

        <a href="/logout">Logout</a>

        <script src="js/main.js"></script>
    </body>

</html>