<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create group</title>
        <link rel="stylesheet" href="/css/group.css">
    </head>

    <body>
        <h1>Create group</h1>


        <h2>
            <%= user.userName %>
        </h2>

        <form action="/todos/createGroup" method='POST'>
            <input type="text" placeholder="Enter Group Name" name='groupName'>
            <input type="submit">
        </form>

        <a href="/logout">Logout</a>

        <script src="js/main.js"></script>
    </body>

</html>