<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>General Settings</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <h1>Manage Account Settings</h1>
        
        <ul> 
        <a href="/notifications">Notifications</a>
            <% notifications.forEach( element => { %>
            <li class= >

            </li>
        </ul>


        <h2>
        <a href="/userProfile">User Profile</a> 
        </h2>


        <h3>
        <a href="/Display">Display</a>
        <!--dark and light mode -->


        <script src="js/main.js"></script>
    </body>
</html>

<!--My notes: The view renders presentation of the model in a particular format.-->