<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Welcome Back Shopper --Shoppers United</title>
</head>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    
<main>
    <h1> Welcome Back Shopper </h1>
    <form action="/login" method="POST" autocomplete="off">
        <label> Email </label>
        <input type="email" name="email" placeholder="Enter Email"
        >
        <label> Password </label>
        <input type="password" name="password" placeholder="Enter Password">
        <div id="remember">
            <a href = '/forgotPassword'> Forgot Password </a>
        </div>
        <input type="submit" value="Sign In" id="submit">
    <div class="text"></div></form>
        <h4> New Shopper? <a href="/signup"> Sign Up </a>
            <span><button id="forgotPasswordButton">Forgot Password</button></span>
</main>
</body>
</html>