<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Welcome Back Shopper --Shoppers United</title>
</head>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    
<main>
    <h1> Welcome Back Shopper </h1>

               <!-- MC MADE THIS -->
               <div id = 'passwordPrompt' class ="hidden">
                <form action = /forgotPassword method="POST"> 
                    <label>Enter your email below to get a recovery password</label>
                <input type="email" name="email" placeholder="Enter Email"
                >
                <input type ='submit' value = 'Reset Password' id="forgotPasswordButton">
                </form>    
                    <button id="closeWindow">Close</button>
            </div>
            <!-- MC MADE THIS -->

    <form action="/login" method="POST" autocomplete="off">
        <label> Email </label>
        <input type="email" name="email" 
        >
        <label> Password </label>
        <input type="password" name="password" >
        <div id="remember">
            <button id="forgotPwdBtn"> Forgot Password </button>
        </div>
        <input type="submit" value="Sign In" id="submit">
    </form>
   
    <div class="text"> 
        <h4> New Shopper? <a href="/signup"> Sign Up </a></h4>
    </div>
    <div id="remember">
        <button id="forgotPwdBtn"> Forgot Password?</button>
    </div>



</main>
<script src ='/js/main.js'></script>
</body>
</html>