*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-image: url('../images/homepage.jpeg');
    background-size: cover;
    background-position: center;
    text-align: center;
    overflow: hidden;
}
h1{
    margin-top: 1rem;
    font-size: 2.5rem;
    color: white;
}
main{
    border: 0.3rem solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1rem 0.4rem rgba(0, 0, 0, 0.5);
    border-radius: 0.3rem;
    width: 60%;
    margin: 1rem auto;
    height: 65vh;
    color: white;
    margin-top: 5rem;
}

label:first-child{
    margin-top: 3rem;
}
label,input{
    display: flex;
    flex-direction: column;
    margin:0.3rem auto;
    margin-top: 1rem;
    align-content: center;
    justify-content: center;

}
label::placeholder,
input::placeholder{
    text-align: center;
    font-size: 1.3rem;
    margin: 1rem auto;
}
label{
    font-size: 2rem;
}
input{
    font-size: 1.3rem;
    outline: none;
    border: none;
    border-bottom: 0.2rem solid white;
    background-color: transparent;
    width: 70%;
    color:white;
}
input:focus{
    border-bottom:#EA8F07 0.2rem solid;
}

#submit{
    background-color:#EA8F07;
    color: white;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem rgba(0, 0, 0, 0.192);
    font-size: 1.3rem;
    margin: 1rem auto;
    width: 30%;
    padding-left: 5.5rem;
    border-bottom:#EA8F07 0.2rem solid;
}

#submit:hover{
    cursor:pointer;
    background-color:#ca7b04;
    transition: ease all 0.3s;
    color: black;
    border-bottom:#EA8F07 0.2rem solid;
}
h4{
    font-size: 1.3rem;
}
.text{
    margin: 1.5rem auto;
    text-decoration: none;
}
 a {
    color:#EA8F07;
    text-decoration: none;
    font-weight: 600;
}